<div class="footer">
  <div class="footer-imageContainer">
    <img
      class="footer-image"
      src="../../../assets/Blizzard_Entertainment_Logo_2015.png"
      alt="logo blizzard_entertainment"
    />
  </div>
  <div class="footer-paragraph">
    <p>©2022 Blizzard Entertainment, Inc.</p>
    <p>
      All rights reserved. All Trademarks referenced are the property of their
      respective owners.
    </p>
  </div>
  <div class="footer-linkContainer">
    <a class="footer-link" href="https://www.facebook.com/HeroesoftheStorm.es"
      >Facebook</a
    ><span> | </span>
    <a class="footer-link" href="https://www.youtube.com/BlizzHeroesES"
      >Youtube</a
    ><span> | </span>
    <a class="footer-link" href="https://twitter.com/BlizzHeroesES">Twitter</a>
  </div>
</div>
