<form
  class="form-container centerAll"
  [formGroup]="signupForm"
  *ngIf="signupForm"
  (submit)="registerUser()"
>
  <div class="card p-5 m-3">
    <div class="form-items">
      <label class="form-label">Email</label>
      <input
        class="form-control"
        formControlName="email"
        type="email"
        required
      />
    </div>
    <div class="form-items">
      <label class="form-label">Password</label>
      <input
        class="form-control"
        formControlName="password"
        type="password"
        required
      />
    </div>
    <div class="centerAll">
      <button class="form-submit" type="submit">Sign up</button>
    </div>
  </div>
</form>
