<div class="header">
  <div class="header-imageContainer">
    <img
      class="header-image"
      src="../../../assets/logo-heroes-large-e140cd832b.png"
      alt="logo heroes"
    />
  </div>
  <div class="header-linkContainer">
    <a class="header-link" [routerLink]="['']">Home</a><span>|</span>
    <a class="header-link" [routerLink]="['/heroes']">Heroes</a><span>|</span>
    <a class="header-link" [routerLink]="['/fields']">Fields</a><span>|</span>
    <a class="header-link" [routerLink]="['/create-heroes']">Create Heroes</a
    ><span>|</span>
    <a class="header-link" [routerLink]="['/create-fields']">Create Fields</a
    ><span>|</span>
    <a class="header-link" [routerLink]="['/register']">Register</a
    ><span>|</span>
    <a class="header-link" [routerLink]="['/login']">Login</a>
  </div>
</div>
<div class="header-iconContainer">
  <img
    class="header-icon"
    src="../../../assets/logo-di-01f9ac836ec31eed.png"
    alt=""
  />
  <img
    class="header-icon"
    src="../../../assets/logo-heroes-78cae505b7a524fb.png"
    alt=""
  />
  <img
    class="header-icon"
    src="../../../assets/logo-ow-4be5755bc0a4cbaf.png"
    alt=""
  />
  <img
    class="header-icon"
    src="../../../assets/logo-sc2-6e33583ba0547b6a.png"
    alt=""
  />
  <img
    class="header-icon"
    src="../../../assets/logo-wow-3dd2cfe06df74407.png"
    alt=""
  />
</div>
