<div class="initial-banner">
  <h1>Welcome to the Nexus!</h1>
  <p>
    In this realm between realms, anything is possible! Choose from dozens of
    legendary heroes from the Blizzard pantheon, customize their talents and
    abilities on the fly, and fight on a wide variety of innovative
    battlefields. This isn't just any MOBA - it's Heroes of the Storm!
  </p>
</div>

<section>
  <video
    class="video-container"
    autoplay="true"
    poster="../../../assets/heroes-of-the-storm bg.webp"
    muted
    loop
  >
    <source
      (load)="onLoadVideo()"
      src="../../../assets/HeroesoftheStorm1.mp4"
      type="video/mp4"
    />
  </video>
</section>
<div class="mid-banner">
  <h2>Functions</h2>
  <p>
    The heroes are divided into the following categories so that you can find
    the feature that best suits your style of play:
  </p>
</div>
<section class="main">
  <div class="main-role">
    <img src="../../../assets/role-tank.webp" alt="icon tank" />
    <h3>Tank</h3>
    <p>
      Tanks are formidable giants that protect their team by absorbing enemy
      attacks and slowing their advance.
    </p>
  </div>
  <div class="main-role">
    <img src="../../../assets/role-bruiser.webp" alt="icon bruiser" />
    <h3>Bruiser</h3>
    <p>
      Aggressors are tough fighters capable of also dishing out a moderate
      amount of damage.
    </p>
  </div>
  <div class="main-role">
    <img src="../../../assets/role-support.webp" alt="icon support" />
    <h3>Support</h3>
    <p>
      Support heroes primarily provide buffs and other benefits to their allies.
    </p>
  </div>
  <div class="main-role">
    <img src="../../../assets/role-healer.webp" alt="icon healer" />
    <h3>Healers</h3>
    <p>
      Healers focus primarily on healing their allies and mitigating damage.
    </p>
  </div>
  <div class="main-role">
    <img
      src="../../../assets/role-melee-assassin.webp"
      alt="icon melee assassin"
    />
    <h3>Melee Assassin</h3>
    <p>
      Melee Assassins are offensive heroes that deal high damage and do so by
      getting very close to their targets.
    </p>
  </div>
  <div class="main-role">
    <img
      src="../../../assets/role-ranged-assassin.webp"
      alt="icon ranged assassin"
    />
    <h3>Ranged Assassin</h3>
    <p>
      Ranged Assassins are fragile heroes with the ability to deal massive
      damage from afar.
    </p>
  </div>
</section>
<section class="ranked">
  <img src="../../../assets/ranked-icon-badges.webp" alt="" />
  <h2>Ranked: League of the Storm</h2>
  <p>Defeat your enemies and rank up to Grand Master alone or in a group.</p>
</section>
